---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Planetside2', "Trebuchet MS", Helvetica, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #FFFFFF;
$brand-color:      #00ffcc;
$background-color: #00000000;

$grey-color:       #d9d9d9;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@font-face {
  font-family: Planetside2;
  src: url(../../assets/fonts/planetside2-webfont.woff);
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

html {
  background-image: url('../../assets/img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-color: #020202;
}

.container {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(57,115,101, 0.75) 99%, rgba(0,255,171,0.75) 100%);
  padding: 18px;
}