<div class="footerColumn">
  <ul>
    <li>{{ site.title }}</li>
    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  </ul>
</div>

<div class="footerColumn">
  <ul>
    {% if site.github_username %}
    <li>
      {% include icon-github.html username=site.github_username %}
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    {% endif %}
  </ul>
</div>

<div class="footerColumn">
  <a href='https://play.google.com/store/apps/details?id=com.cesarandres.ps2link&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
    <img alt='Get it on Google Play' class="badge" src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
  </a>
</div>